.container{
    margin:20px;
}
nav{
    display:flex;
    justify-content: space-around;
    margin-bottom: 20px;
}
a{
    text-decoration: none;
    color:#333;
    padding:10px;
}
 a:hover{
    background-color: #f0f0f0;    
}
:active{
    background-color: #f0f0f0;    
}